@mixin container {
  width: 1169px;
  margin: auto;
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin reset-link-style {
  text-decoration: none;
  color: inherit;
}

@mixin button {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;

  font-style: inherit;
  font-size: 14px;
  color: var(--contrast);
  letter-spacing: 0.12em;

  background-color: var(--basic);

  border: 1px solid var(--contrast);

  &:hover {
    color: var(--basic);

    background-color: var(--contrast);
  }
}

@mixin button-contrast {
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;

  font-style: inherit;
  font-size: 14px;
  color: var(--basic);
  letter-spacing: 0.12em;

  background-color: var(--contrast);

  border: 1px solid var(--contrast);

  &:hover {
    background-color: var(--dark-contrast);
  }
}