@mixin container {
  width: 1169px;
  margin: auto;
}

@mixin reset-list-style {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

@mixin reset-link-style {
  text-decoration: none;
  color: inherit;
}