.header {
  margin-bottom: 74px;
  padding-top: 15px;
  padding-bottom: 14px;

  background-color: var(--light-contrast);
}

.header__container {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}